# Ignore Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
*.tfvars
*.tfplan
*.backup
*.terraform.lock.hcl  # Lock file created for managing provider versions

# Ignore Ansible files
*.retry
*.log
.env

# Ignore Docker files
Dockerfile
docker-compose.yml
docker-compose.override.yml
.env
.env.*
**/Dockerfile
**/docker-compose.yml
**/docker-compose.override.yml
**/.env
**/.env.*

# Ignore Kubernetes files
*.kubeconfig
.kube/
*.conf

# Ignore common environment variable files
.env
*.env
**/.env
**/*.env

# Ignore IDE and editor specific files
.idea/
.vscode/
*.swp
*~

# Ignore Python files (if you are using Python)
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.whl

# Ignore node_modules if you are using Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore data folder
data/

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon must end with two \r
Icon

# The network folder stores the Finder view settings, if you view the folders as columns
Network Trash Folder

# The volume settings folder
Temporary Items
.apdisk

# Ignore Git files
*.diff
*.patch

# Ignore sensitive key files
*.ppk
*.pem
your-key.*

# Ignore Terraform files
.terraform.lock.hcl
.terraform/
realm.json
terraform.config.json
awscli-bundle/
